# {{ansible_managed}}

# default is to block everything
restrict default ignore
disable monitor

# allow full access for localhost
restrict 127.0.0.1
restrict -6 ::1

{% for ip in ansible_all_ipv4_addresses %}
restrict {{ ip }} kod nomodify notrap nopeer
{% endfor %}

# which NTP servers to use
{% for server in ntp_server %}
server {{ server }}
restrict {{ server }} {{ ntp_restrict|join(' ') }}
{% endfor %}

# drift and logfile
driftfile /var/lib/ntp/drift
logfile /var/log/ntp
